.body {
	position: relative;
}

.content-block {
	margin-top: 4.7rem;
	padding-bottom: 11.56rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content-img {
	background: url('./photo.png') center top;
	background-size: cover;
	width: 48.125rem;
	height: 43.75rem;
}

.content-text {
	padding-left: 3%;
	max-width: 37%;
	margin: auto 0;
}

.content-text h1 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 3.75rem;
	margin-bottom: 0.75em;
}

.content-text h3 {
	font-weight: 400;
	font-size: 2.25rem;
	margin-top: 1em;
}

.content-text p {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2em;
	margin-bottom: 1.25em;
}

@media (max-width: 1580px) {
	.content-text h1 {
		font-size: 3.5rem;
		margin-bottom: 0.5em;
	}
	.content-text h3 {
		font-size: 2rem;
		margin-bottom: 0.75em;
	}
}

@media (max-width: 1230px) {
	.content-block {
		margin-top: 0;
	}
	.content-img {
		width: 100%;
	}
	.content-text {
		max-width: 100%;
		padding: 3%;
	}
}

@media (max-width: 630px) {
	.content-block {
		padding-bottom: 0;
	}
}